Crypto Review Panel feedback

The feedback from Bjoern [is here](https://mailarchive.ietf.org/arch/msg/crypto-panel/x4BUsorqE6AArD2DVWaweIxR8Ys/), and copied inline below for convenience. My responses to questions and comments are inline.

> Overall, the document looks good; thankfully, Anna already provided a detailed security analysis. Technically, the document is solid - so there’s not much to be said about that. My comments below are either minor or meant to be editorial suggestions. Unfortunately I did not (yet) have the capacity to validate the test vectors.
>
> Let me start with a question, though: Why BSSA; I mean, what is the “Appendix”?

This name was chosen for consistency with RSASSA-PSS. I think the "appendix" part means that the signature itself doesn't contain the message, so the message must be "appended" to the signature in order for a verifier to check it. I don't know the origin of this definition, though.

> And then: Here’s my notes:
> 
> 1. Introduction
> 
> It took me a while and a read of the Privacy Pass draft to understand the statement about the properties of VOPRF-based protocols. Maybe the paragraph can be made more accessible. Facts that would have helped me grasping the statements quicker:
 (a) VOPRF proofs are not (necessarily) publicly verifiable, so ...
 (b) ... the only way for the server to validate the non-blinded token is re-evaluating the (VO)PRF.
Maybe that paragraph can be made a bit clearer for readers that may not know the protocol internals of Privacy Pass.
> 
> Also, a minor nit, I wouldn't say that VOPRFs have operational shortcomings (since they are a component not a solution); it's more solutions built on VOPRFs that do.
> 
> JKK14 seem to only claim that a VOPRF can be constructed from a blind signature scheme; at least I could find the statement only in the introduction. (Admittedly, it seems kind of clear.)
> 
> 3. Notation
> 
> I wondered why the function random_integer_uniform(M, N) was defined with two parameters; it seems it is only invoked with M=1.
> 
> 5.
> 
> In [RFC8017], I could not find the term "RSASSA-PSS RSAE” - what is RSAE? What is the reason to cite [RFC3447] for RSASSA-PSS-VERIFY in Section 4 (and RSAVP1 and EMSA-PSS-ENCODE in Section 5.1.1) but [RFC8017] - which seems equivalent for this context - here?
> 
> Minor nit: Strictly speaking, MGF1 is not prescribed in Section 8.1 of [RFC8017] but in Appendix A.2.3.

> 5.1.1

> kLen is length in octets and kBits is length in bits - that could be more consistent.

> The style used for describing the algorithms is very different from [RFC8017]. Also algorithm names are snake case here and upper-case with dashes in [RFC8017]. Everything was clear to me, though. The same comment of course applies to all subsequent sections.

We felt the style here worked well, so I think we'll keep this as-is. 

> 5.2
> 
> .. that is build .. -> built
> 
> 7.2
> 
> randommized -> randomized 
> 
> 8.
> 
> The section only mentions the results of [BNPS03], without mentioning the shortcoming of the security model with respect to adversarially generated keys. It may make sense to discuss this a bit, along the lines of [Lys22]? Generally, the results of [Lys22] seem very relevant here.
> 
> 8.3
> 
> ... and invalid public KEY
> 
> 8.4
> 
> "When the required signature protocol is not clear" – I don't understand what that means; do you mean when signatures are not required to be deterministic?
> 
> This section has overlap with Section 8.3, in that again [GRBS19] could be a helpful resource (for low-entropy messages with deterministic signatures).