Note salt length recommendations

0 or hash digest output length, as per RFC8017, Section 9.1. 