Editorial suggestions from Stanislav

Editorial remarks:
- Introduction, 3rd paragraph. «… where the signature is computed using from a deterministic blind signature protocol» should be changed to «… where the signature is computed using a deterministic blind signature protocol».
- Section 4, 6th paragraph. «… to the client, which the finalizes the protocol …» should be changed to «… to the client, which finalizes the protocol …».
- Section 4, the last sentence before Section 4.1. «… we specify Blind, BlindSign, and Finalize that are used in this protocol» should be changed to «… we specify Prepare, Blind, BlindSign, and Finalize that are used in this protocol».
- Section 4.1, 1st paragraph. «… two types of preparation functions: the identity preparation function, and a randomized preparation function» should be changed to «… two types of preparation functions: an identity preparation function, and a randomized preparation function».
- Section 5, the 1st paragraph. «Each variant specifies a hash function, RSASSA-PSS parameters as defined in Section 9.1.1 of [RFC8017], and …» should be changed to «Each variant specifies RSASSA-PSS parameters as defined in Section 9.1.1 of [RFC8017], and …», since hash function is already included in the RSASSA-PSS parameters according to Section 9.1.1 of [RFC8017].
- Section 5, 3rd paragraph. «For all other applications, the variants that use the randomized preparation function are safe to use as protect clients from malicious signers» should be changed to «For all other applications, the variants that use the randomized preparation function protect clients from malicious signers».
- Section 6. It is worth specifying the place where MGF1 function is defined, namely, Appendix B.2.1. of [RFC8017].
- Section 7.6, 1st paragraph. The dot after the last sentence is missing.
- Section 7.7, Blind Schnorr description. «Although simple, the hardness problem upon which this is based…» might be changed to «Although simple, the hardness problem upon which it is based…».